<div xmlns="http://www.w3.org/1999/xhtml" id="container">
    <h1>{{sector.key}} <span class="add-button">+</span></h1>
    <main>
    <section *ngFor="let section of dataService.states" >
      <h2 class="{{section}}">{{section}} 
        <span class="add-button">+</span>
      </h2>
      <ul>
        <li *ngFor="let item of sector.value[section]" 
        (mouseenter)="tooltipService.tooltipForItem(item)?.open(); item.selected = true;"
        (mouseleave)="tooltipService.tooltipForItem(item)?.close(); item.selected = false;" >
          <span [class]="{selected: item?.selected}" >{{item?.number}}. {{item?.name}}</span>
        </li>
        <li class="add-button">+</li>
      </ul>
    </section>
  </main>
  </div>