
.adopt{
    fill: #5ba300;
    stroke: none;
    color:#5ba300
}
.trial{ 
    fill: #009eb0;
    stroke: none;
    color: #009eb0;

}
.assess{
    fill: #c7ba00;
    stroke: none;
    color: #c7ba00;
}
.hold{
    fill: #e09b96;
    stroke: none;
    color: #e09b96;
}

.selected{
    background-color: black;
    color: white;
}

h1 .add-button, h2 .add-button, ul .add-button{
    visibility: hidden;
}
h1:hover .add-button, h2:hover .add-button, ul:hover .add-button{
    visibility: visible;
}

#container{
    cursor: default;
    user-select:none; 
    font-size: 20pt; 
    height:100%; 
    width: 100%
}
h1{
    font-size: 30pt;
    margin:0; 
    margin-bottom: 2pt;
}
main{
    display:grid; 
    grid-auto-columns: 1fr 1fr; 
    justify-content:flex-start; 
    grid-auto-flow:column;
}
section{
    width:100%;
}
h2{
    font-size: 25pt;
    margin:0
}
ul{
    list-style: none; 
    margin:0; 
    font-size:20pt; 
    padding:0;
}
ul li{
    lineheight:1;
}