
:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
svg{
    width: 80%;
    user-select: none;
}
[db-ringsegment]{
    fill: none;
    stroke: silver;
    stroke-width:0.3; 
}
.icon-number, .tooltip-text{
    fill: white; 
    font-family:sans-serif; 
    stroke: none; 
    font-size: 2.5pt; 
    text-anchor:middle; 
    dominant-baseline:middle;
    cursor: default;
}
.tooltip-rect{
    fill:black;
}

.tooltip-text{
    dominant-baseline:hanging;
    font-size: 2pt;
}

.adopt{
    fill: #5ba300;
    stroke: none;
    color:#5ba300
}
.trial{ 
    fill: #009eb0;
    stroke: none;
    color: #009eb0;

}
.assess{
    fill: #c7ba00;
    stroke: none;
    color: #c7ba00;
}
.hold{
    fill: #e09b96;
    stroke: none;
    color: #e09b96;
}

.selected{
    background-color: black;
    color: white;
}