
:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
svg{
    width: 80%;
    user-select: none;
}
[db-ringsegment]{
    fill: none;
    stroke: silver;
    stroke-width:0.3; 
}
.icon-number{
    fill: white; 
    font-family:sans-serif; 
    stroke: none; 
    text-anchor:middle; 
    dominant-baseline:middle;
    cursor: default;
    user-select: none;
}

.adopt{
    fill: #5ba300;
    stroke: none;
    color:#5ba300
}
.trial{ 
    fill: #009eb0;
    stroke: none;
    color: #009eb0;

}
.assess{
    fill: #c7ba00;
    stroke: none;
    color: #c7ba00;
}
.hold{
    fill: #e09b96;
    stroke: none;
    color: #e09b96;
}

.selected{
    background-color: black;
    color: white;
}

.dropzone.activeDropzone{
    stroke-width:2;
    stroke: black;
}

/*.dropzone.activeDropzone:hover{
    stroke-width:30;
    stroke: black;
    stroke-dasharray: 1 1 1;
}*/

h1 .add-button, h2 .add-button, ul .add-button{
    visibility: hidden;
}
h1:hover .add-button, h2:hover .add-button, ul:hover .add-button{
    visibility: visible;
}