<svg viewBox="0 0 200 200">
  <g db-ringsegment 
    [endAngle]="360" 
    [innerRadius]="0" 
    dbRingsegmentContainer="row">

    <g *ngFor="let sector of data | keyvalue" 
      class="sector"  
      db-ringsegment 
      dbRelativeSize 
      dbRingsegmentContainer="column">

      <g *ngFor="let section of sector.value | keyvalue" 
        db-ringsegment 
        dbRelativeSize 
        dbGrid="2.5" 
        #grid="grid">

        <g *ngIf="showGrid">
          <circle 
            *ngFor="let p of grid.points" 
            [attr.cx]="p[0].x" 
            [attr.cy]="p[0].y" 
            r="0.1">
          </circle>
        </g>

        <g *ngFor="let item of section.value; index as i;"
          dbGridItem 
          #gi="gridItem"
          >
          <g>
            <rect 
              *ngIf="showTooltipFor(item)"
              class="tooltip-rect"
              [attr.x]="gi.position ? gi.position!.x - 10 : 0" 
              [attr.y]="gi.position ? gi.position!.y - 8  : 0"  
              width="20" 
              height="5" 
              rx="1" />
            <text 
              class="tooltip-text"
              [attr.x]="gi.position ? gi.position!.x : 0" 
              [attr.y]="gi.position ? gi.position!.y -6  : 0"
            >{{item?.name}}</text>
          </g>

          <circle 
            [attr.cx]="gi.position?.x" 
            [attr.cy]="gi.position?.y" 
            [attr.r]="grid.elementRadius"
            class="{{section.key}}"
            >
          </circle>
          <text 
            class="icon-number"
            [attr.x]="gi.position?.x" 
            [attr.y]="gi.position?.y" 
          > 
            {{item?.number}}
          </text>
        </g>
      </g>
    </g>
  </g>
</svg>