
<svg viewBox="-2000 -1000 5000 4000" #svg [class]="{isDragging: isDragging}">
  <g db-ringsegment
  [endAngle]="360"
  [innerRadius]="0"
  [outerRadius]="1000"
  [x]="1000"
  [y]="1000"
  dbRingsegmentContainer="column">

  <g *ngFor="let state of dataService.states; index as i;" 
    class="ring"  
    [endAngle]="360"
    [x]="1000"
    [y]="1000"
    db-ringsegment 
    [dbRelativeSize]="state.relativeSize"
    dbGeometry
    #geo="dbGeometry"
    >
    <text 
      class="background-text"
      [attr.x]="geo.rowCenter(geo.oClock(6)).x"
      [attr.y]="geo.rowCenter(geo.oClock(6)).y"
      [class]="state.name"

      >
      {{state.name.toUpperCase()}}
  </text>
</g>
</g>

  <g db-ringsegment
    [endAngle]="360"
    [innerRadius]="0"
    [outerRadius]="1000"
    [x]="1000"
    [y]="1000"
    dbRingsegmentContainer="row">

    <g *ngFor="let sector of dataService.data | keyvalue; index as i;" 
      class="sector"  
      db-ringsegment 
      dbRelativeSize
      dbGeometry
      dbRingsegmentContainer="column"
      dbDragzone
      (dragging)="isDragging = $event;"
      pointerEvents="visible"
      #rs="db-ringsegment"
      #grs="dbGeometry"
      #dz="dbDragzone"
      >

      <foreignObject
      [attr.x]="grs.adjacentBox(1200,40).x"
      [attr.y]="grs.adjacentBox(1200,40).y"
      [attr.width]="1200"
      [attr.height]="grs.height">
        <db-tech-sector-lists [sector]="sector"></db-tech-sector-lists>
      </foreignObject>

      <g *ngFor="let state of dataService.states;"
        db-ringsegment
        [dbRelativeSize]="state.relativeSize"
        [dbDropzone]="dz"
        (dropped)="dataService.changeScalaCategory($event, getValueForIn(state.name, sector))"
        [dbGrid]="rs.outerRadius/40"
        [randomPlacement]="true"

        #grid="grid">

        <g *ngIf="showGrid">
          <circle
            *ngFor="let p of grid.points"
            [attr.cx]="p[0].x"
            [attr.cy]="p[0].y"
            r="0.1">
          </circle>
        </g>

        <g *ngFor="let item of getValueForIn(state.name, sector); index as i;"
          dbGridItem
          #gi="gridItem"
          #tooltip="ngbTooltip"
          [dbTooltipRemote]="{tooltip: tooltip, item: item}"
          [ngbTooltip]="item?.name"
          container="body"
          triggers="mouseenter:mouseleave"
          (mouseenter)="item!.selected = true"
          (mouseleave)="item!.selected = false"
          [dbDraggable]="dz"
          [itemData] = "{item: item, formerCategory: getValueForIn(state.name, sector)}"
          >

          <circle
            [attr.cx]="gi.position?.x"
            [attr.cy]="gi.position?.y"
            [attr.r]="grid.elementRadius"
            class="{{state.name}}"
            >
          </circle>
          <text
            class="icon-number"
            [attr.x]="gi.position?.x" 
            [attr.y]="gi.position?.y" 
            [style]="{'font-size': grid.elementRadius ? +grid.elementRadius*1.3 : 10}"
          > 
            {{item?.number}}
          </text>
        </g>
      </g>
    </g>
  </g>
</svg>