
:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
svg{
    height: 95%;
    user-select: none;
    margin:3rem;
}
[db-ringsegment]{
    fill: none;
    stroke: silver;
    stroke-width:0.3; 
}
.icon-number{
    fill: white; 
    font-family:sans-serif; 
    stroke: none; 
    text-anchor:middle; 
    dominant-baseline:middle;
    cursor: default;
    user-select: none;
}

.adopt{
    fill: #5ba300;
    stroke: none;
    color:#5ba300
}
.trial{ 
    fill: #009eb0;
    stroke: none;
    color: #009eb0;

}
.assess{
    fill: #c7ba00;
    stroke: none;
    color: #c7ba00;
}
.hold{
    fill: #e09b96;
    stroke: none;
    color: #e09b96;
}

.selected{
    background-color: black;
    color: white;
}



.dropzone.overDropzone{
    stroke-width:5;
    stroke: silver;
    stroke-dasharray: 4;
}

.isDragging{
    cursor: none !important;
}

.background-text{
    font-size: 80pt;
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: bold;
    opacity: 0.4;
}

.activeDragzone{
    fill:rgba(238, 238, 238, 0.3);
}